In [1]:
import warnings
warnings.filterwarnings('ignore')

# importing modules and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
covid_df = pd.read_csv('Covid_Data.csv')
covid_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
covid_df.dtypes[covid_df.dtypes == "object"].index.tolist()

['DATE_DIED']

In [4]:
covid_df.shape

(1048575, 21)

In [5]:
covid_df = covid_df.drop(covid_df[covid_df["PREGNANT"] > 2].index)
covid_df = covid_df.drop(covid_df[covid_df["PNEUMONIA"] > 2].index)

In [6]:
covid_df = covid_df.drop(['MEDICAL_UNIT', "INTUBED","ICU","USMER",'PATIENT_TYPE', 'CLASIFFICATION_FINAL', 'OTHER_DISEASE'], axis = 1)
covid_df.head()

,SEX,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2
3,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2
5,1,9999-99-99,1,40,2,2,2,2,2,2,2,2,2,2
6,1,9999-99-99,2,64,2,2,2,2,2,2,2,2,2,2
7,1,9999-99-99,1,64,2,1,2,2,1,1,2,2,1,2

In [7]:
covid_df = covid_df.drop(covid_df[covid_df["DATE_DIED"] == '9999-99-99'].index)

In [8]:
covid_df

,SEX,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2
3,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2
153,1,08/05/2020,2,0,2,2,2,2,2,2,2,2,2,2
330,1,07/03/2020,2,64,2,2,2,2,2,2,2,2,1,2
334,1,27/03/2020,2,49,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047628,1,08/07/2020,2,82,2,2,2,2,2,2,2,2,2,2
1047629,1,08/07/2020,1,85,2,1,2,2,2,1,2,1,2,2
1047632,1,10/07/2020,1,63,2,2,2,2,2,1,2,2,2,2
1047634,1,15/07/2020,2,79,2,2,2,2,2,1,2,2,2,2
1047637,1,27/07/2020,1,82,2,2,2,2,2,2,2,2,2,2

In [9]:
len([x for x in covid_df if covid_df["PREGNANT"] == '1'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().