In [1]:
import warnings
warnings.filterwarnings('ignore')

# importing modules and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
covid_df = pd.read_csv('Covid_Data.csv')
covid_df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
covid_df.dtypes[covid_df.dtypes == "object"].index.tolist()

['DATE_DIED']

In [4]:
covid_df = covid_df.drop(covid_df[covid_df["PREGNANT"] > 2].index)

Drop any 99 and 97 values

In [5]:
covid_df = covid_df.drop(["INTUBED","ICU","USMER",'PATIENT_TYPE'], axis = 1)
covid_df.head()

,MEDICAL_UNIT,SEX,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,1,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2,2,3
3,1,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2,2,7
5,1,1,9999-99-99,1,40,2,2,2,2,2,2,2,2,2,2,2,3
6,1,1,9999-99-99,2,64,2,2,2,2,2,2,2,2,2,2,2,3
7,1,1,9999-99-99,1,64,2,1,2,2,1,1,2,2,2,1,2,3

In [6]:
covid_df = covid_df.drop(covid_df[covid_df["DATE_DIED"] == '9999-99-99'].index)

In [7]:
covid_df

,MEDICAL_UNIT,SEX,DATE_DIED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL
0,1,1,03/05/2020,1,65,2,2,2,2,2,1,2,2,2,2,2,3
3,1,1,12/06/2020,2,53,2,2,2,2,2,2,2,2,2,2,2,7
151,2,1,26/02/2020,99,1,2,2,2,2,2,2,2,2,2,2,2,7
153,2,1,08/05/2020,2,0,2,2,2,2,2,2,2,2,2,2,2,7
320,3,1,13/01/2020,99,47,2,1,2,2,2,1,2,2,2,1,2,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047628,13,1,08/07/2020,2,82,2,2,2,2,2,2,2,2,2,2,2,3
1047629,13,1,08/07/2020,1,85,2,1,2,2,2,1,2,2,1,2,2,3
1047632,13,1,10/07/2020,1,63,2,2,2,2,2,1,2,2,2,2,2,3
1047634,13,1,15/07/2020,2,79,2,2,2,2,2,1,2,2,2,2,2,3
1047637,13,1,27/07/2020,1,82,2,2,2,2,2,2,2,2,2,2,2,3